p{
    /* setting content box */
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    /*  solid, 
    dashed
    dotted
    double 
    groove
    ridge
    inset
    outset-- llojet e borderave */
    border: 5px double black;
    border-bottom: 5px solid pink;
    border-top: 5px dashed yellow;
    border-left: 5px dotted red;
    
    /* padding-left: 0%;
    padding-top: ;
    padding-bottom: ;
    padding-right: ; */
    padding: 10px 20px 30px 40px;
    /* 1-top, 2- right, 3- bottom, 4-left == si akrepat e ores */
    /* padding: 10px 20px; */
    /* 1, top,bottom-- 2. rightleft */
    margin: 40px 20px 10px 50px;
}
h1{
    width: 200px;
    height: 200px;
    background-color: rgb(126, 137, 146);
    border: 3px solid black;
}
.First{
    margin-left: 200px;
}